<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" th:href="@{/css/default.css}" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Panel</title>

    <style>
        .modal {
            display:    none;
            position:   fixed;
            z-index:    1000;
            top:        0;
            left:       0;
            height:     100%;
            width:      100%;
            background: rgba( 255, 255, 255, .8 )
                        url('http://i.stack.imgur.com/FhHRx.gif')
                        50% 50%
                        no-repeat;
        }

        body.loading .modal {
            overflow: hidden;
        }


        body.loading .modal {
            display: block;
        }
    </style>
    <script type="text/javascript" src="/js/toastMaker.js"></script>
</head>
<body>
    
    <header id="header" th:insert="~{generalFragments/header :: userHeader}"></header>
    <h1>Admin Panel</h1>


    <div style="display: flex; flex-wrap: wrap; justify-content: center">
        <div class="darkDiv" style="flex: 1 0 500px;">
            <script th:inline="javascript">
                /*<![CDATA[*/
                    var users = /*[[${users}]]*/ {};
                /*]]>*/
            </script>
            <h3>Give Or take Roles from users!</h3>
            <div class="borderedDiv">
                <select id="userSelect">
                    <option label=""></option>
                    <option th:each="user : ${users}" th:value="${user.id}" th:text="${user.username}"></option>
                </select>

                <select id="roleSelect">
                    <option label=""></option>
                    <option th:each="role : ${roles}" th:value="${role}" th:text="${role}"></option>
                </select>

            </div>
            <button id="takeRoleButton" onclick="TakeUserRole()" disabled>Take</button>
            <button id="giveRoleButton" onclick="GiveUserRole()" disabled>Give</button>
        </div>
    </div>

    <div style="display: flex; flex-wrap: wrap; justify-content: center">
        <div class="darkDiv" style="flex: 1 0 500px;">
            <h3>Unconfirmed categories to be confirmed or denied</h3>
            <div class="centerContent">
                <div>
                    <label>
                        <input type="radio" name="mode" value="CONFIRMED" checked> Confirm
                    </label>
                    <label>
                        <input type="radio" name="mode" value="DENIED"> Deny
                    </label>
                </div>
            </div>
            <div class="borderedDiv">
                <ul>
                    <li style="width: 350px; text-align: left;" th:each="category : ${unconfirmed}" th:id="${category.id}">
                        <input type="checkbox" class="toConfirm" th:name="${category.categoryName}" th:value="${category.id}">
                        <label th:text="${category.categoryName}"></label>
                    </li>
                </ul>
            </div>
            <button onclick="collectAndSendForUpdate()">Save</button>
        </div>
    </div>

    <div style="display: flex; flex-wrap: wrap; justify-content: center">
        <div class="darkDiv" style="flex: 1 0 500px;">
            <h3>Unconfirmed options to be confirmed or denied</h3>
            <div class="centerContent">
                <div>
                    <label>
                        <input type="radio" name="optionsMode" value="CONFIRMED" checked> Confirm
                    </label>
                    <label>
                        <input type="radio" name="optionsMode" value="DENIED"> Deny
                    </label>
                </div>
            </div>
            <div class="borderedDiv">
                <ul>
                    <li style="width: 350px; text-align: left;" th:each="option : ${unconfirmedOptions}" th:id="'option' + ${option.id}">
                        <input type="checkbox" class="options" th:name="${option.mealName}" th:value="${option.id}">
                        <label th:text="${option.mealName}"></label>
                    </li>
                </ul>
            </div>
            <button onclick="sendOptionsForUpdate()">Save</button>
        </div>
    </div>


    <div id="toastsContainer"></div>
    <div class="modal"><!-- Place at bottom of page --></div>
    <div th:insert="~{generalFragments/colorPicker :: colorBox}"></div>

    <script type="text/javascript" src="/js/admin/adminUserControl.js"></script>
    <script type="text/javascript" src="/js/admin/adminMeals.js"></script>
</body>
</html>