<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" th:href="@{/css/default.css}" />
    <meta charset="UTF-8">
    <title>Goreham</title>
</head>
<body class="headerFooterPage">
    <h3></h3>
    <div class="autoColumnGrid" style="align-content: center">
        <div class="darkDiv">
            <a href="/whatIsForDinner" style="text-align: center">
                <h4>What is for Dinner?</h4>
                <img class="fillImage" src="/images/hamburger.png">
            </a>
        </div>

        <div class="darkDiv">
            <a href="/sprites/maker" style="text-align: center">
                <h4>Sprite Creator</h4>
                <img class="fillImage" src="/images/spriteMaker.png">
            </a>
        </div>
        <div class="darkDiv">
            <a href="/words" style="text-align: center">
                <h4>Word Search</h4>
                <img class="fillImage" src="/images/hamburger.png">
            </a>
        </div>
    </div>

    <!--<div style="background: #00E1EF; text-align: center;"> div</div>-->
    <footer>
        <a href="https://github.com/BrettGoreham/webServer" target="_blank">
            <img class="containImage" src="/images/GitHub-Mark-64px.png">
        </a>
        <a href="https://www.linkedin.com/in/brettgoreham/" target="_blank">
            <img class="containImage" src="/images/LI-In-Bug.png">
        </a>
    </footer>
</body>
</html>