<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" th:href="@{/css/default.css}" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Goreham</title>
</head>
<body class="headerFooterPage">
    
    <header id="header" th:insert="~{generalFragments/header :: userHeader}"></header>
    
    
    <div class="autoColumnGrid" style="align-content: center">
        <a href="/vinmonopolet" style="text-align: center">
            <div class="darkDiv">
                <h4>Vinmonopolet's Cheapest Alcohol</h4>
                <img class="fillImage" src="/images/vinmonopoletIcon.png">
            </div>
        </a>
        <a href="/sprites/maker" style="text-align: center">
            <div class="darkDiv">
                <h4>Sprite Creator</h4>
                <img class="fillImage" src="/images/spriteMaker.png">
            </div>
        </a>
        <a href="/whatIsForDinner" style="text-align: center">
            <div class="darkDiv">
                <h4>What is for Dinner?</h4>
                <img class="fillImage" src="/images/hamburger.png">
            </div>
        </a>
        <a href="/twoFactorAuthentication" style="text-align: center">
            <div class="darkDiv">
                <h4>Unreliable Two Factor Authentication</h4>
                <img class="fillImage" src="/images/twofa.png">
            </div>
        </a>
        <a href="/words" style="text-align: center">
            <div class="darkDiv">
                <h4>Word Search</h4>
                <img class="fillImage" src="/images/findbook.png">
            </div>
        </a>
    </div>

    <!--<div style="background: #00E1EF; text-align: center;"> div</div>-->
    <footer>
        <div style="height: inherit">
            <a href="https://github.com/BrettGoreham/webServer" target="_blank">
                <img class="containImage" src="/images/GitHub-Mark-64px.png">
            </a>
            <a href="https://www.linkedin.com/in/brettgoreham/" target="_blank">
                <img class="containImage" src="/images/LI-In-Bug.png">
            </a>
        </div>
    </footer>
</body>
</html>