<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" th:href="@{/css/default.css}" />
    <style>
        html {
            min-height: 100%;
        }

    </style>
    <meta charset="UTF-8">
    <title>Secret Santa</title>
</head>
<body>
  <script src="https://www.google.com/recaptcha/api.js" async defer></script>

<header id="header" th:insert="~{generalFragments/header :: userHeader}"></header>
<div class="centerContent">
    <h2>Secret Santa Creator</h2>

    <div>
        <h3>Summary</h3>
        <div th:style="'display: grid; align-items: center;  justify-items: center; grid-template-columns: repeat(2, minmax(50px, 1fr)); grid-template-rows: repeat(' + ${people.size() + 1} + ', minmax(50px, 1fr));'">
            <div class="grid-item">Participant</div>
            <div class="grid-item">Will not receive</div>

            <div th:each="i : ${people}" th:remove="tag">
                <label  class="grid-item centerContent" th:text="${i.name}" ></label>
                <label  th:if="${blocking.containsKey(i.name)}"  class="grid-item centerContent" th:text="${blocking.get(i.name).toString().replace('[', '').replace(']', '')}"></label>
                <div class="grid-item centerContent" th:if="${!blocking.containsKey(i.name)}">-</div>
            </div>
        </div>
    </div>
    <div class="g-recaptcha"
     data-callback="captchaCallBack"
     data-expired-callback="captchaExpiredCallBack"
     data-error-callback="captchaErrorCallBack"
     data-theme="dark"
     th:attr="data-sitekey=${@environment.getProperty('recaptcha.site.key')}"></div>
    
    <button id="nextButton" disabled class="centerContent" onclick="next()">Send Emails to Participants</button>
</div>
<div th:insert="~{generalFragments/colorPicker :: colorBox}"></div>
<script>

    const urlParams = new URLSearchParams(window.location.search);
    const people = JSON.parse(urlParams.get('people'));
    const blocking = JSON.parse(urlParams.get('blocking'));

    let nextButton = document.getElementById("nextButton")
    

    let captchaStringText = "";
    function captchaCallBack(value) {
        nextButton.disabled = false
        captchaStringText = value;
    }

    function captchaExpiredCallBack(){
        nextButton.disabled = true
        captchaStringText = "";
    }

    function captchaErrorCallBack(){
        nextButton.disabled = true
        captchaStringText = "";
    }


    function next() {

      if (captchaStringText !== "") {
        var data = {'people': people, 'blocking': blocking, 'recaptchaResult': captchaStringText}
        fetch("/secretSanta/deliver", {
          method: "POST", 
          body: JSON.stringify(data),
          headers: {
            'Content-Type': 'application/json'
          }
        }).then(res => {
          console.log("Request complete! response:", res);
        });
      }
      
        
    }
</script>

</body>
</html>
