<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" th:href="@{/css/default.css}" />
    <style>
        html {
            min-height: 100%;
        }

    </style>
    <meta charset="UTF-8">
    <title>Secret Santa</title>
</head>
<body>
<header id="header" th:insert="~{generalFragments/header :: userHeader}"></header>
<div class="centerContent">
    <h2>Secret Santa Creator</h2>

    <h4 th:text="#{participant.text}">Participants</h4>
    <form id="participantForm">
        <div>
            <label style="width: 40%; display: inline-block;">Name</label>
            <label style="width: 40%;">Email</label>
        </div>
        
       

    </form>
    <button class="centerContent" onclick="addPerson()">Add participant</button>
    <button class="centerContent" onclick="next()">Next</button>
</div>
<div th:insert="~{generalFragments/colorPicker :: colorBox}"></div>
<script>
    var form = document.getElementById("participantForm")
    
    var personHtml = 
    `
        <input type="text" style="float: left; margin: 8px 5px; width: 40%">
        <input type="text" style="margin: 8px 5px; width: 40%">
        <button type="button" onclick="removePerson(this)" style="color: red;">x</button>   
    `;

    //need at least 3 for secret santa
    addPerson()
    addPerson()
    addPerson() 

    function addPerson() {
        var div = document.createElement("div");
        div.innerHTML = personHtml

        form.appendChild(div)
    }

    function removePerson(e) {
        e.parentElement.remove()   
    }

    async function next() {
        var inputs = form.getElementsByTagName("input");
        var people = []
        var index = 0;
        while(index <inputs.length) {
            people.push({'name': inputs[index].value, 'email': inputs[index+1].value})
            index += 2
        } 
        
        window.location.href = 'secretSanta/block?people=' + encodeURIComponent(JSON.stringify(people));
    }
</script>

</body>
</html>
