<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" th:href="@{/css/default.css}" />
    <style>
        html {
            min-height: 100%;
        }

    </style>
    <meta charset="UTF-8">
    <title>Secret Santa</title>
</head>
<body>
<header id="header" th:insert="~{generalFragments/header :: userHeader}"></header>
<div class="centerContent">
    <h2>Secret Santa Creator</h2>

    <h4>Participants</h4>
    <label>Reciever</label>
    <div  style="display: flex; justify-content: center; align-items: center;" >
        <label style="display: inline-block;">Sender</label>
        <form style="display: inline-block;" id="blockingForm">
            <div th:style="'display: grid;
                    grid-template-columns: repeat(' + ${people.size() + 1} + ', minmax(50px, 1fr));
                    grid-template-rows: repeat(' + ${people.size() + 1} + ', minmax(50px, 1fr));'">
                <div class="grid-item"></div>
                <div class ="grid-item centerContent" th:each="i : ${people}">
                    <label th:text="${i.name}"></label>
                </div>
                <div th:each="i : ${people}" th:remove="tag">
                    <div class="grid-item centerContent">
                        <label th:text="${i.name}"></label>
                    </div>
                    <div class="grid-item centerContent"  th:each="j : ${people}">
                        <input  th:if="${!i.name.equals(j.name)}" type="checkbox" th:id="${i.name} + '_' + ${j.name}" name="${i.name} + '_' + ${j.name}" checked />
                        <div th:if="${i.name.equals(j.name)}"></div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    
    <button class="centerContent" onclick="next()">Next</button>
</div>
<div th:insert="~{generalFragments/colorPicker :: colorBox}"></div>
<script>

    const urlParams = new URLSearchParams(window.location.search);
    const people = JSON.parse(urlParams.get('people'));

    var form = document.getElementById("blockingForm")



    const mapToAoO = m => {
        return m.map( ([k,v]) => {return {[k]:v}} );
    };
    


    function next() {
        var checkboxes = document.querySelectorAll("input[type=checkbox]");
        
        blockedMap = {}
        checkboxes.forEach(element => {
            if (element.checked == false) {
                var splitId = element.id.split('_')
                if (!(splitId[0] in blockedMap)) {
                    blockedMap[splitId[0]] = []
                }

                blockedMap[splitId[0]].push(splitId[1])
            }
        });

        console.log(people)
        console.log(blockedMap)
        console.log(JSON.stringify(blockedMap))

        window.location.href = '/secretSanta/summary?people=' + encodeURIComponent(JSON.stringify(people)) + 
                '&blocking=' + encodeURIComponent(JSON.stringify(blockedMap));
    }
</script>

</body>
</html>
