/**/:root {
    --main-bg-color: #121212;
    --main-light-color: #343434;
    --main-neutral-color: #666666;
    --main-highlight-color: #ffe082;
    --main-highlight-text-color: #4d7d42;
    --main-text-color: #EEEEEE;
    --main-secondary-color: #abdf9d;

}/**/
/*:root {
        --main-text-color: #240B36;
        --main-bg-color: #6B717E;
        --main-highlight-color: #FB3640;
        --main-neutral-color: #CCDAD1;
        --main-light-color: #018E42;
}/**/
html {
    height: 100%;
}

body {
    background-color: var(--main-bg-color);
    max-width: 100%;
}
footer {
    text-align: center;
    background-color: var(--main-highlight-color);
    padding: 10px;
    max-height: 40px;
    height: 40px;
}
/* apparently this changes color text all over so remember this fact */
* {
    color: var(--main-text-color);
    font-weight: bold;
    font-family: Arial, sans-serif;
}

h1, h2, h3, h4, h5
{
    text-align: center;
    /*font-weight: bolder;*/
}

form {
    border-radius: 5px;
    background-color: var(--main-light-color);
    padding: 15px;
    margin: 30px;
}
form input, select{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: var(--main-neutral-color);
}

button, form input[type=button], input[type=submit], input[type=reset] {
    width: 100%;
    background-color: var(--main-highlight-color);
    border: none;
    border-radius: 5px;
    color: var(--main-highlight-text-color);
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}

form input[type=button]:hover, input[type=submit]:hover, input[type=reset]:hover {
    opacity: 0.8;
}

div .borderedDiv {
    background-color: var(--main-neutral-color);
    border: 3px solid var(--main-secondary-color);
    text-align: center;
    padding: 12px 0px;
    margin: 8px 0;
    border-radius: 5px;
}

div .neutralDiv {
    background-color: var(--main-neutral-color);
    text-align: center;
    padding: 12px 0px;
    margin: 8px 0;
    border-radius: 5px;
}

div .darkDiv{
    background-color: var(--main-light-color);
    text-align: center;
    padding: 12px 20px;
    margin: 8px 0;
    border-radius: 5px;
}


.formHider {
    height: 0px;
    overflow:hidden;
    transition: height 0.4s ease-in-out;
}

.autoColumnGrid {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
.autoSmallColumnGrid {
    display: grid;
    grid-gap: 3px;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}

.headerFooterPage {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
    margin: 0px; /*not sure why this is needed but wihtout it page is too tall*/
}


.containImage {
    object-fit: scale-down;
    max-height: 100%;
    max-width: 100%;
    margin-right: 20px;
    margin-left: 20px;
}

.minContent {
    width: min-content;
}

.centerContent {
    display: grid;
    place-items: center;
}


#toastsContainer {
    position: absolute;
    top: 0;
    z-index: 1;
    width: 100%;
    left: 50%;
    transform: translate(-50%, 0);
    display: grid;
    place-items: center;
}

.toastContainer {
    font-weight: bold;
    position: relative;
    z-index: 1;
    text-align: center;
    min-width: 450px
}

.toastContainerSuccess {
    border: 3px solid #99ff33;
}

.toastContainerError {
    border: 3px solid #ff1a1a;
}

.toastHeader {

}

.toastContent {
  margin-top: 10px;
}