<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" th:href="@{/css/default.css}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <header id="header" th:insert="~{generalFragments/header :: userHeader}"></header>
    <div class="centerContent" th:if="${error != null}">
        <div class="darkDiv minContent" style="border: 3px solid red;">
            <h3  th:text="${error}" style="color: red; white-space: nowrap"></h3>
        </div>
    </div>

    <div class="panel-body">
        <form action="doLogin" method="post">
            <fieldset>
                <legend>Please sign in</legend>
                <div>
                    <input placeholder="User Name" name='username' type="text">
                </div>
                <div >
                    <input placeholder="Password" name='password' type="password" value="">
                </div>
                <input class="btn" type="submit" value="Login">
            </fieldset>
        </form>
    </div>
    <a href="/register" class="clickable">Haven't Registered? click here! </a>
</body>
</html>