<!DOCTYPE html>
<html>
    <body>
        <div class="panel-body">
            <form action="/register/submit" method="post">
                <fieldset>
                    <legend>Please sign in</legend>
                    <div>
                        <input minlength="1" placeholder="User Name" name='username' type="text">
                    </div>
                    <div>
                        <input minlength="5" placeholder="Password" name='password' type="password" value="">
                    </div>
                    <div>
                        <input placeholder="Email" name="email" type="email" value="">
                    </div>
                    <input class="btn" type="submit" value="Register">
                </fieldset>
            </form>
        </div>
    </body>
</html>